{% extends 'base.html.twig' %}

{% block title %}Contact us | News Portal{% endblock %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/brands.css" integrity="sha384-Px1uYmw7+bCkOsNAiAV5nxGKJ0Ixn5nChyW8lCK1Li1ic9nbO5pC/iXaq27X5ENt" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/fontawesome.css" integrity="sha384-BzCy2fixOYd0HObpx3GMefNqdbA7Qjcc91RgYeDjrHTIEXqiF00jKvgQG0+zY/7I" crossorigin="anonymous">
    <link href="css/contacts.css" rel="stylesheet">
{% endblock %}

{% block main %}
    <main role="main" class="contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="page-title">Contact us</h1>
                    <address>{{ page.address }}</address>
                    <a href="tel:{{ page.phone }}" class="phone">{{ page.phone }}</a>
                    <a href="mailto:{{ page.email }}" class="email">{{ page.email }}</a>
                    <div class="social-networks">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Read us in Facebook" target="_blank" rel="noopener">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Follow our Twitter" target="_blank" rel="noopener">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="See photos in Instagram" target="_blank" rel="noopener">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <form action="">
                        <div class="form-group">
                            <label for="name">Your name</label>
                            <input type="text" id="name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Your e-mail</label>
                            <input type="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="message">Your message</label>
                            <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}